/* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
.truncate-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* https://css-tricks.com/line-clampin/ */
.truncate-multiple-lines {
  display: -webkit-box;
  -webkit-line-clamp: var(--lines-to-truncate, 3);
  -webkit-box-orient: vertical;
}

/* https://codepen.io/ellyloel/pen/eYjoVEg */
.fade-truncate-multiple-lines {
  max-block-size: calc(var(--lines-to-truncate, 3) * 1lh);
  overflow: hidden;
  mask: linear-gradient(black 0 0) top / 100% calc(100% - 1lh) no-repeat,
    linear-gradient(to left, transparent, black 80%) bottom / 100% 1lh no-repeat;
}
