* {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: thin solid var(--CanvasText, CanvasText);
}

pre {
	overflow: auto;
}

pre code {
	hyphens: none;
	tab-size: 4;
	white-space: pre;
}

p:empty {
	display: none;
}
