@keyframes smoothscroll1 {
	from,
	to {
		scroll-behavior: smooth;
	}
}

@keyframes smoothscroll2 {
	from,
	to {
		scroll-behavior: smooth;
	}
}

html {
	animation: smoothscroll1 1s;
	block-size: 100%;
	font-size: max(1em, 20px);
	text-size-adjust: none;

	/* scrollbar-gutter: stable both-edges; */

	&:focus-within {
		@media (prefers-reduced-motion: no-preference) {
			animation-name: smoothscroll2;
			scroll-behavior: smooth;
		}
	}
}

body {
	background-color: var(--Canvas, Canvas);
	color: var(--CanvasText, CanvasText);
	font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	margin: var(--space-s, 1em) var(--space-s, 1em);
	min-block-size: 100%;
}

::selection {
	background-color: var(--Highlight, Highlight);
	color: var(--HighlightText, HighlightText);
}
